@import "tailwindcss";

body {
  background-color: #0a0a0a;
  color: #e5e5e5;
  overflow: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #121212;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8b5cf6;
}

/* Draggable Top Bar */
.titlebar {
  -webkit-app-region: drag;
}
.no-drag {
  -webkit-app-region: no-drag;
}
